* {
  cursor: default;
}

.gameBack {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
  background-color: rgb(29, 27, 27);
}

.gameGrid {
  display: grid;
  grid-template-columns: repeat(16, 75px);
  grid-template-rows: repeat(16, 50px);
  max-width: 1200px;
  background-color: rgb(29, 27, 27);
  background-size: 100%;
  margin-left: auto;
  margin-right: auto;
}

.profileButton,
.signOutButton {
  margin: 20px;
  font-size: 25px;
  width: auto;
  border: none;
  padding-top: 15px;
  background: none;
  color: white;
  outline: none;
}

.profile {
  grid-column: 11 / 14;
  grid-row: 1 / 2;
}

.signOut {
  grid-column: 14 / 16;
  grid-row: 1 / 2;
}

.profileButton:hover,
.signOutButton:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.deckImgDiv {
  grid-column: 1 / 3;
  grid-row: 6 / 10;
  margin-left: 15px;
}

img {
  height: 100%;
}

.dealerCard0 {
  grid-column: 4 / 6;
  grid-row: 3 / 7;
}

.dealerCard1 {
  grid-column: 6 / 8;
  grid-row: 3 / 7;
}

.dealerCard2 {
  grid-column: 8 / 10;
  grid-row: 3 / 7;
}

.dealerCard3 {
  grid-column: 10 / 12;
  grid-row: 3 / 7;
}

.dealerCard4 {
  grid-column: 12 / 14;
  grid-row: 3 / 7;
}

.dealerCard5 {
  grid-column: 14 / 16;
  grid-row: 3 / 7;
}

.hitButton {
  grid-column: 8 / 10;
  grid-row: 15 / 17;
  width: 100px;
  height: 50px;
  outline: none;
}

.stayButton {
  grid-column: 10 / 12;
  grid-row: 15 / 17;
  width: 100px;
  height: 50px;
  outline: none;
}

.stayButton:hover,
.hitButton:hover {
  cursor: pointer;
}

.playerCard0 {
  grid-column: 4 / 6;
  grid-row: 10 / 14;
}

.playerCard1 {
  grid-column: 6 / 8;
  grid-row: 10 / 14;
}

.playerCard2 {
  grid-column: 8 / 10;
  grid-row: 10 / 14;
}

.playerCard3 {
  grid-column: 10 / 12;
  grid-row: 10 / 14;
}

.playerCard4 {
  grid-column: 12 / 14;
  grid-row: 10 / 14;
}

.playerCard5 {
  grid-column: 14 / 16;
  grid-row: 10 / 14;
}

.playerPointCount {
  grid-column: 4 / 10;
  grid-row: 14 / 16;
  padding-top: 30px;
  color: white;
}

.dealerPoints {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
  color: white;
  padding-left: 10px;
}

.playerPoints {
  grid-column: 1 / 4;
  grid-row: 11 / 13;
  color: white;
  padding-left: 10px;
}

.youLost {
  grid-column: 6 / 10;
  grid-row: 7 / 10;
  color: white;
}

.playAgainButton {
  cursor: pointer;
  grid-column: 10 / 12;
  grid-row: 8 / 9;
  margin-bottom: 10px;
}

.bettingForm {
  color: white;
  text-align: center;
  grid-column: 6 / 12;
  grid-row: 8 / 11;
}

.betLabel {
  font-size: 25px;
}

.betInput {
  display: block;
  width: 70%;
  height: 20%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.betButton {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: solid white 1px;
  width: 110px;
  height: 30px;
  outline: none;
}

@media only screen and (max-width: 1150px) {
  .gameGrid {
    grid-template-columns: repeat(28, 30px);
    grid-template-rows: repeat(28, 50px);
    max-width: 1000px;
    background-color: rgb(29, 27, 27);
  }

  .deckImgDiv {
    grid-column: 1 / 2;
    grid-row: 7 / 10;
  }

  img {
    height: 100%;
  }

  .dealerCard0 {
    grid-column: 5 / 8;
    grid-row: 4 / 7;
  }

  .dealerCard1 {
    grid-column: 9 / 12;
    grid-row: 4 / 7;
  }

  .dealerCard2 {
    grid-column: 13 / 16;
    grid-row: 4 / 7;
  }

  .dealerCard3 {
    grid-column: 17 / 20;
    grid-row: 4 / 7;
  }

  .dealerCard4 {
    grid-column: 21 / 24;
    grid-row: 4 / 7;
  }

  .dealerCard5 {
    grid-column: 25 / 28;
    grid-row: 4 / 7;
  }

  .playerCard0 {
    grid-column: 5 / 8;
    grid-row: 10 / 13;
  }

  .playerCard1 {
    grid-column: 9 / 12;
    grid-row: 10 / 13;
  }

  .playerCard2 {
    grid-column: 13 / 16;
    grid-row: 10 / 13;
  }

  .playerCard3 {
    grid-column: 17 / 20;
    grid-row: 10 / 13;
  }

  .playerCard4 {
    grid-column: 21 / 24;
    grid-row: 10 / 13;
  }

  .playerCard5 {
    grid-column: 25 / 28;
    grid-row: 10 / 13;
  }

  .bettingForm {
    position: absolute;
    top: 300px;
    left: 30%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
  }

  .betInput {
    height: 30px;
  }

  .profile {
    grid-column: 1 / 5;
  }

  .signOut {
    grid-column: 5 / 10;
  }

  .playerPointCount {
    grid-column: 5 / 14;
    grid-row: 13 / 14;
    padding-top: 0;
  }

  .hitButton {
    grid-column: 13 / 15;
    grid-row: 13 / 14;
  }

  .stayButton {
    grid-column: 17 / 19;
    grid-row: 13 / 14;
  }

  .hitButton,
  .stayButton {
    height: 70%;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 800px) {
  .gameGrid {
    grid-template-columns: repeat(28, 30px);
    grid-template-rows: repeat(28, 50px);
    max-width: 700px;
  }

  .bettingForm {
    left: 20%;
  }

  .deckImgDiv {
    display: none;
  }

  .dealerCard0 {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    margin-left: 10px;
  }

  .dealerCard1 {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
    margin-left: 5px;
  }

  .dealerCard2 {
    grid-column: 7 / 8;
    grid-row: 4 / 6;
  }

  .dealerCard3 {
    grid-column: 10 / 11;
    grid-row: 4 / 6;
  }

  .dealerCard4 {
    grid-column: 13 / 14;
    grid-row: 4 / 6;
  }

  .dealerCard5 {
    grid-column: 16 / 17;
    grid-row: 4 / 6;
  }

  .playerCard0 {
    grid-column: 1 / 2;
    grid-row: 9 / 11;
    margin-left: 10px;
  }

  .playerCard1 {
    grid-column: 4 / 5;
    grid-row: 9 / 11;
    margin-left: 5px;
  }

  .playerCard2 {
    grid-column: 7 / 8;
    grid-row: 9 / 11;
  }

  .playerCard3 {
    grid-column: 10 / 11;
    grid-row: 9 / 11;
  }

  .playerCard4 {
    grid-column: 13 / 14;
    grid-row: 9 / 11;
  }

  .playerCard5 {
    grid-column: 16 / 17;
    grid-row: 9 / 11;
  }

  .playerPointCount {
    grid-column: 2 / 10;
    grid-row: 10 / 11;
    padding-top: 0;
  }

  .hitButton {
    grid-column: 10 / 11;
    grid-row: 10 / 11;
  }

  .stayButton {
    grid-column: 13 / 14;
    grid-row: 10 / 11;
  }

  .hitButton,
  .stayButton {
    height: 70%;
    width: 75px;
    margin-top: 20px;
  }

  .dealerPoints {
    grid-column: 3 / 10;
    grid-row: 6 / 7;
    color: white;
  }

  .playerPoints {
    grid-column: 3 / 10;
    grid-row: 7 / 9;
    color: white;
  }

  .youLost {
    font-size: 25px;
    grid-column: 10 / 16;
    grid-row: 6 / 7;
    color: white;
  }

  .playAgainButton {
    cursor: pointer;
    width: 80%;
    height: 60%;
    margin-top: 15px;
    grid-column: 10 / 14;
    grid-row: 7 / 8;
  }
}

@media only screen and (max-width: 500px) {
  .signOut {
    grid-column: 6 / 12;
    font-size: 20px;
  }

  .profileButton {
    font-size: 20px;
  }

  .bettingForm {
    left: 0;
    padding: 10px;
    top: 200px;
  }

  .deckImgDiv {
    display: none;
  }

  .dealerCard0 {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
    margin-left: 10px;
    margin-top: 10px;
  }

  .dealerCard1 {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
    margin-left: 15px;
    margin-top: 10px;
  }

  .dealerCard2 {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
    margin-left: 25px;
    margin-top: 10px;
  }

  .dealerCard3 {
    grid-column: 8 / 9;
    grid-row: 3 / 5;
    margin-top: 10px;
    margin-left: 5px;
  }

  .dealerCard4 {
    grid-column: 1 / 2;
    grid-row: 5 / 7;
    margin-top: 10px;
    margin-left: 10px;
  }

  .dealerCard5 {
    grid-column: 8 / 9;
    grid-row: 5 / 7;
    margin-top: 10px;
  }

  .playerCard0 {
    grid-column: 1 / 2;
    grid-row: 10 / 12;
    margin-left: 10px;
  }

  .playerCard1 {
    grid-column: 3 / 4;
    grid-row: 10 / 12;
    margin-left: 22px;
  }

  .playerCard2 {
    grid-column: 6 / 7;
    grid-row: 10 / 12;
    margin-left: 4px;
  }

  .playerCard3 {
    grid-column: 8 / 9;
    grid-row: 10 / 12;
    margin-left: 20px;
  }

  .playerCard4 {
    grid-column: 1 / 2;
    grid-row: 8 / 10;
    margin-left: 10px;
  }

  .playerCard5 {
    grid-column: 8 / 9;
    grid-row: 8 / 10;
  }

  .hitButton {
    grid-column: 5 / 6;
    grid-row: 7 / 8;
  }

  .stayButton {
    grid-column: 5 / 6;
    grid-row: 8 / 9;
  }

  .hitButton,
  .stayButton {
    height: 70%;
    width: 75px;
    margin-top: 20px;
  }

  .dealerPoints {
    grid-column: 3 / 10;
    margin-left: 15px;
    grid-row: 5 / 6;
    color: white;
    font-size: 18px;
  }

  .playerPoints {
    grid-column: 3 / 10;
    margin-left: 15px;
    grid-row: 9 / 10;
    color: white;
    font-size: 18px;
  }

  .youLost {
    font-size: 20px;
    grid-column: 5 / 8;
    grid-row: 6 / 7;
    color: white;
  }

  .playAgainButton {
    cursor: pointer;
    width: 80%;
    height: 60%;
    margin-top: 15px;
    grid-column: 4 / 8;
    grid-row: 7 / 8;
    margin-left: 20px;
  }

  .playerPointCount {
    grid-column: 3 / 10;
    grid-row: 6 / 7;
    padding-top: 0;
  }
}
