html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

input,
select:focus {
  font-size: 16px;
}

.backgroundLogin {
  position: absolute;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-height: 100%;
}

.Login {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(16, 50px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-height: 100vh;
}

.loginInfo {
  grid-row: 1 / 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  max-width: 300px;
  margin-right: 0;
  height: 20vh;
}

.loginInfo h1 {
  position: relative;
  top: 30px;
}

.loginGrid {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2 / 3;
  grid-row: 5 / 10;
  width: 250px;
  text-align: center;
  background-color: white;
}

.registerGrid {
  margin-left: auto;
  margin-right: auto;
  grid-column: 2 / 3;
  grid-row: 10 / 15;
  margin-top: 10px;
  width: 250px;
  text-align: center;
  background-color: white;
}

.loginGrid input,
.registerGrid input {
  margin-top: 20px;
  height: 20px;
  outline: none;
}

.loginGrid label,
.registerGrid label {
  font-size: 25px;
  margin-top: 10px;
  display: block;
}

.signUpSubmit,
.signInSubmit {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: solid white 1px;
  width: 80px;
  height: 25px;
  outline: none;
}

.demo {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.demo2 {
  margin-top: 10px;
}

@media only screen and (max-width: 800px) {

  /* .loginGrid {
    grid-row: 10 / 11;
  }
  
  .registerGrid {
    grid-row: 11 / 16;
  }

  .loginInfo {
    grid-row: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-align: center;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
  }
  
  .loginInfo h1 {
    position: relative;
    top: 30px;
  } */

  .howToPlayInfo {
    display: none;
  }

  .howToPlay {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }
/* 
  .loginGrid {
    grid-column: 2 / 8;
    grid-row: 2 / 6;
    margin-bottom: 10px;
  } */

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .loginForm {
    text-align: center;
  }

  /* .registerGrid {
    grid-column: 2 / 8;
    grid-row: 6 / 11;
  } */

}

@media only screen and (max-width: 500px) {

  * {
    max-height: 100vh;
  }

  .Login {
    max-height: 100vh;
  }

  .loginInfo {
    grid-column: 1 / 17;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }

  .loginGrid {
    grid-column: 1 / 17;
    grid-row: 4 / 9;
    margin-left: auto;
    margin-right: auto;
  }

  .registerGrid {
    grid-column: 1 / 17;
    grid-row: 9 / 16;
    margin-left: auto;
    margin-right: auto;
    max-height: 35.5vh;
  }
}