html {
    min-height: 100%;
    position: relative;
}

body {
    height: 100%;
}

.backgroundLogin {
    position: absolute;
    background-color: rgb(29, 27, 27);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
}


.Login {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 50px);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

.howToPlay {
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    font-size: 30px;
    background-color: white;
    padding: 15px;
}

.howToPlayInfo {
    grid-column: 2 / 6;
    grid-row: 3 / 13;
    background-color: white;
    padding: 15px;
    font-size: 18px;
}

.loginGrid {
    grid-column: 7 / 8;
    grid-row: 2 / 7;
    padding: 30px;
    text-align: center;
    background-color: white;
}

.registerGrid {
    grid-column: 7 / 8;
    grid-row: 8 / 13;
    padding: 20px;
    text-align: center;
    background-color: white;
}

.loginGrid input, .registerGrid input {
    margin-top: 20px;
    height: 20px;
    outline: none;
    padding-left: 5px;
}

.loginGrid label, .registerGrid label {
    font-size: 25px;
    display: block;
}

.signUpSubmit, .signInSubmit {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: solid white 1px;
    width: 80px;
    height: 25px;
    outline: none;
}

/* .signUpSubmit:hover, .signInSubmit:hover {
    cursor: pointer;
    transform: scale(1.2);
} */

@media only screen and (max-width: 800px) {
    .login {
        grid-template-rows: repeat(16, 50px);
    }
    .howToPlayInfo {
        display: none;
    }

    .howToPlay {
        grid-column: 2 / 8;
        grid-row: 1 / 2;
        text-align: center;
        font-size: 25px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .loginGrid {
        grid-column: 2 / 8;
        grid-row: 2 / 6;
        padding: 10px;
        margin-bottom: 10px;
    }

    input {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .loginForm {
        text-align: center;
    }

    .registerGrid {
        grid-column: 2 / 8;
        grid-row: 6 / 11;
    }
  }