html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

input,
select:focus {
  font-size: 16px;
}

.backgroundLogin {
  position: absolute;
  background-image: url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.Login {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 50px);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.loginGrid {
  grid-column: 2 / 3;
  grid-row: 2 / 7;
  width: 250px;
  text-align: center;
  background-color: white;
}

.registerGrid {
  grid-column: 2 / 3;
  grid-row: 8 / 13;
  width: 250px;
  text-align: center;
  background-color: white;
}

.loginGrid input,
.registerGrid input {
  margin-top: 20px;
  height: 20px;
  outline: none;
}

.loginGrid label,
.registerGrid label {
  font-size: 25px;
  margin-top: 10px;
  display: block;
}

.signUpSubmit,
.signInSubmit {
  margin-top: 20px;
  background-color: black;
  color: white;
  border: solid white 1px;
  width: 80px;
  height: 25px;
  outline: none;
}

@media only screen and (max-width: 800px) {
  .login {
    grid-template-rows: repeat(16, 50px);
  }
  .howToPlayInfo {
    display: none;
  }

  .howToPlay {
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
  }

  .loginGrid {
    grid-column: 2 / 8;
    grid-row: 2 / 6;
    margin-bottom: 10px;
  }

  input {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .loginForm {
    text-align: center;
  }

  .registerGrid {
    grid-column: 2 / 8;
    grid-row: 6 / 11;
  }
}
